
{% extends "base.html" %}

{% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="{{ url_for("static",filename="css/index.css")}}">

{% endblock %}

{% block main %}

<div class="bgcolor">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for("static",filename="images/cleaning 4.jpg")}}" class="d-block w-100" alt="1" width="800" height="350">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for("static",filename="images/cleaning 5.jpg")}}" class="d-block w-100" alt="2" width="800" height="350">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for("static",filename="images/cleaning 6.jpg")}}" class="d-block w-100" alt="3" width="800" height="350">
    </div>
  </div>

  

  <div class="mmm">
    {% include "flashhelper.html" %}
    <div class="midcontent2" >
      <h1 style="padding: 20px 0 20px 0; font-family:Arial;"><b>Main Service</h1>
      <div class="container">
        <div class="row">

          <div class="col">
            <img src="{{ url_for("static",filename="images/cleaning 1.jpg")}}" alt="..." style="width: 200px;height: 150px; font-family:Arial;">
            <span style="text-align: center;">House Cleaning</span>
          </div>

          <div class="col">
            <img src="{{ url_for("static",filename="images/cleaning 2.jpg")}}" alt="..." style="width: 200px;height: 150px; font-family:Arial;">
            <span style="text-align: center;">House Cleaning</span>
          </div>

          <div class="col">
            <img src="{{ url_for("static",filename="images/cleaning 3.jpg")}}" alt="..." style="width: 200px;height: 150px; font-family:Arial;">
            <span style="text-align: center;">House Cleaning</span>
          </div>

          <div class="col">
            <img src="{{ url_for("static",filename="images/cleaning 7.jpg")}}" alt="..." style="width: 200px;height: 150px; font-family:Arial;">
            <span style="text-align: center;">House Cleaning</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="mmm">
    <div class="row">
      <div class="col-6">
          <img src="{{ url_for("static",filename="images/house cleaning 1.jpg")}}" alt="..." style="width: 550px;height: 400px; font-family:Arial; margin-right: 10px;">
      </div>
      <div class="col-6">
          <img src="{{ url_for("static",filename="images/house cleaning 2.jpg")}}" alt="..." style="width: 350px;height: 200px; font-family:Arial;margin-left: 25px;">
          <div class="col-6">
              <img src="{{ url_for("static",filename="images/house cleaning 3.jpg")}}" alt="..." style="width: 350px;height: 200px; font-family:Arial; margin-left: 10px;">
          </div>
      </div>
    </div>
  </div>

  <div class="mmm">
    <div class="row">
      <div class="col-6">
          <img src="{{ url_for("static",filename="images/office 4.jpg")}}" alt="..." style="width: 350px;height: 200px; font-family:Arial;">
          <div class="col-6">
              <img src="{{ url_for("static",filename="images/office 2.jpg")}}" alt="..." style="width: 350px;height: 200px; font-family:Arial;margin-left: -15px;">
          </div>
      </div>
      <div class="col-6">
          <img src="{{ url_for("static",filename="images/office 3.jpg")}}" alt="..." style="width: 550px;height: 400px; font-family:Arial;margin-left: -175px;">
      </div>
    </div>
  </div>
  


</div>
  {% endblock %}