.bgcolor {
    padding-top: 63px;
}

.hide{
  visibility: hidden;
}
.midcontent2{
  border-radius: 8px;
  border-style: solid;
  border-color: #f79b1b;
}

.mmm{
    padding: 10px 100px 10px 100px;
  }

