.content{
    margin-top: 80px;
    
}

.content2{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    text-align: center;
    margin: 50px 550px 20px 550px;
    
}